.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.controls {
  margin: 20px;
}

.controls label {
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
